// Typography

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway:wght@400;500&display=swap");

$font-primary: "Fredoka One", sans-serif;
$font-secondary: "Raleway", sans-serif;

// Colors

$alabaster: #fbfbfb;
$mine-shaft: #222222;
$sweet-pink: #ffa1a1;
$mint-green: #aaffa1;
$mercury: #e6e6e6;
