.form-group {
    max-width: 544px;
    margin-bottom: 40px;
}

.form-control {
    border-radius: 30px;
}

.form {
    &-login,
    &-contact {
        margin-bottom: 250px;
        background-color: white;
        max-width: 544px;
        padding: 45px;
        border-radius: 20px;
        @media (max-width: 600px) {
            padding: 15px;
        }
    }
}

// Success and error styling
.form {
    &-error {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $sweet-pink;
        margin: 5px 0;
        border-radius: 20px;
        padding: 10px;
    }

    &-success {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $mint-green;
        margin: 5px 0;
        border-radius: 20px;
        padding: 10px;
    }

    @media (max-width: 576px) {
        width: 100%;
    }
}
