.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

// Container around all, see layout.js

.container {
    max-width: none !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: $alabaster;
}

.heading {
    padding: 45px 0;
}

p {
    margin: 0;
}

// BACKGROUND

.bg {
    &-places,
    &-place,
    &-contact,
    &-login {
        background-size: cover;
        background-position: bottom;
        min-height: 1088px;
        background-image: url(/assets/background-opacity.png);
    }
}
