.navbar-background {
    margin: 0 auto;
    background-color: $mine-shaft;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    text-decoration: underline white;
    text-decoration-thickness: 0.3em;
}

.active {
    text-decoration: underline white;
    text-decoration-thickness: 0.3em;
}

.logout-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;

    @media (max-width: 600px) {
        height: 50px;
        margin-top: 25px;
        margin: 0 auto;
    }
}
