.testimonial-card {
    margin: 200px auto;
    max-width: 1200px;
    width: 95%;
    background-color: $alabaster;
    border-radius: 20px;
    display: flex;
    padding: 20px;
    @media (max-width: 600px) {
        display: block;
        margin: 100px auto;
    }

    &__image {
        max-width: 300px;
        height: 300px;
        width: 100%;
        background-image: url(/assets/testimonial-1.png);
        border-radius: 20px;
        @media (max-width: 600px) {
            margin: 0 auto;
        }
    }

    &__text {
        padding: 25px;
        margin: 0 auto;
        max-width: 600px;

        &__paragraph {
            font-size: 2rem;
            @media (max-width: 600px) {
                font-size: 1.2rem;
            }
        }

        &__name {
            color: grey;
            font-size: 1.3rem;
            margin-top: 25px;
        }
    }
}
